{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Bonjour,

Vous avez demandé une réinitialisation de mot de passe pour votre compte sur {{ site_name_title }}.

Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :{% endblocktranslate %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate %}Si vous n'avez pas fait cette demande, ignorez simplement cet e-mail.

Merci,
L'équipe de {{ site_name_lower }}{% endblocktranslate %}
{% endautoescape %}