{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Politique de Confidentialité</h1>
    <p>
        Bienvenue sur notre page de politique de confidentialité. Chez nous, votre confiance est précieuse. Nous nous engageons à protéger vos informations personnelles avec le plus grand soin, car votre vie privée est au cœur de nos valeurs.
    </p>
    <p>
        Nous veillons à collecter et utiliser vos données de manière transparente et sécurisée, uniquement dans le but d'améliorer votre expérience. Soyez rassuré(e) : vos informations ne seront jamais partagées sans votre consentement.
    </p>
    <p>
        Vous avez des questions ou besoin de précisions ? Nous sommes là pour vous. Contactez-nous à : <a href="mailto:kouayavana19@gmail.com">kouayavana19@gmail.com</a> et nous vous répondrons avec plaisir
    </p>
</div>
{% endblock %}