{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Politique de Confidentialité</h1>
    <p>
        Bienvenue sur notre page de politique de confidentialité. Nous nous engageons à protéger vos informations personnelles et à respecter votre vie privée.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p>
        Si vous avez des questions concernant notre politique de confidentialité, n'hésitez pas à nous contacter à l'adresse suivante : <a href="mailto:kouayavana19@gmail.com">kouayavana19@gmail.com</a>.
    </p>
</div>
{% endblock %}