{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="subscribe_section layout_padding">
    <div class="container-fluid">
        <div class="box">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="subscribe_form text-center portfolio-item" data-aos="fade-up">
                        <h3 class="section-title">Abonnez-vous pour des offres exclusives</h3>
                        <p>Recevez nos dernières promotions directement dans votre boîte mail.</p>
                        <form action="{% url 'subscribe' %}" method="post">
                            {% csrf_token %}
                            <input type="email" name="email" placeholder="Entrez votre email" required class="form-control mb-3">
                            <button type="submit" class="btn btn-primary">S'abonner</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}